@import "~antd/dist/antd.css";
@import "bootstrap";
@import "variables";
@import "mixins";
@import "tree";
@import "layers-explorer";
@import "masks-explorer";
@import "objects-creator";
@import "selected-params";
@import "timeline-container";
@import "keyframes";
@import "context-menu";
@import "images-manager";

@import "ui/collapse";
@import "ui/tabs";
@import "ui/popover";
@import "ui/small";

.main-layout {
  .left-menu {
    position: fixed;
    width: 40px;
    height: 100vh;
  }
  .canvas-timeline {
    width: calc(100% - 360px);
    position: fixed;
    left: 40px;
  }
  .right-menu {
    position: fixed;
    right: 0;
    width: 320px;
    height: 100vh;
  }
}

.canvas-container {
  @include transparentBg();
  height: 60vh;
}

.bg-clouds {
  background: $clouds;
}

.text-color-concrete {
  color: $concrete
}

.color-red {
  color: $alizarin;
}