@import "~antd/dist/antd.css";
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "mixins";
@import "tree";
@import "layers-explorer";
@import "objects-creator";
@import "selected-params";
@import "timeline-container";
@import "keyframes";
@import "context-menu";

body {

}

.canvas-container {
  height: 60vh;
  background-image: url(data:image/gif;base64,R0lGODlhCgAKAIAAAOLi4v///yH5BAAHAP8ALAAAAAAKAAoAAAIRhB2ZhxoM3GMSykqd1VltzxQAOw==);
}

.bg-clouds {
  background: $clouds;
}

.text-color-concrete {
  color: $concrete
}