@mixin transition($time:500ms,$timing:ease-out) {
  transition: all $time $timing;
}

@mixin rotate($angle: 90deg) {
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -o-transform: rotate($angle);
  -ms-transform: rotate($angle);
  transform: rotate($angle);
}

@mixin transparentBg($color: $clouds) {
  background-position: 0 0, 10px 10px;
  -webkit-background-size: 21px 21px;
  background-size: 21px 21px;
  background-image: -webkit-linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color),
  -webkit-linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color)
}
