$rightWidth: 250px;

.timeline {
  height: 40vh;
  position: relative;

  .bg-rect {
    fill: rgba(0, 0, 0, 0);
  }
  .timeline-header {
    .x-axis {
      color: $clouds;
      .domain {
        display: none;
      }
    }
    .brush {
      .selection {
        stroke: none;
        fill-opacity: 0.07;
        fill: #fff;
      }
    }
  }
  .timeline-main-header {
    overflow: visible;
    .x-axis {
      color: $clouds;
      font-weight: bold;
      .domain, .tick line {
        display: none;
      }
    }
    .timeline-indicator {
      fill: $alizarin;
    }
  }
  .timeline-main {
    .timeline-grid {
      color: $asbestos;
      .domain, .tick text {
        display: none;
      }
    }
  }
  .timeline-controls {
    position: absolute;
    width: $rightWidth;
    height: 60px;
    background: $darkGray;
  }

  .timeline-layers {
    position: absolute;
    top: 60px;
    color: $clouds;

    .timeline-objects {
      .object {
        .object-line {
          padding-left: 5px;
          border-bottom: 1px solid $asbestos;
          line-height: 1;

          .control-buttons {
            display: inline-block;
            margin-right: 5px;
            .control {
              display: inline-block;
              border: 1px solid transparentize(#000, 0.6);
              border-bottom-color: transparentize(#fff, 0.7);
              background: transparentize($white, 0.93);
              width: 16px;
              height: 16px;
              margin-right: 1px;

              i {
                display: none;
                font-size: 10px;
                margin: 2px;
              }
              &.active i {
                display: block;
              }
            }
          }
          .name {
            display: inline-block;
            font-size: 14px;
            vertical-align: 2px;
            width: 120px;

            .index {
              font-weight: bold;
              display: inline-block;
              width: 35px;
            }
            span {
              width: 85px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}